body {
   background-color: #83c5be;
   color: #272044;
   font-family: "Roboto", sans-serif;
}

h1 {
    text-align: center;
    font-size: 40px;
}

form {
    display:flex;
}

footer {
    text-align: center;
    margin-top: 15px;
    font-size: 15px;
}
 a {
    color:  #edf6f9;
    font-weight:300;
    font-style: italic;
    font-family: "Lobster Two", sans-serif;
 }

 a:hover {
    color:#006d77;
 }

.container {
    max-width: 800px;
    margin: 100px auto;

}

.form-container {
    background-color: #edf6f9;
    padding: 15px;
    border-radius: 5px;
}

.user-input-slot {
    width: 80%;
    font-size: 14px;
    line-height: 2;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid #006d77;
}

.search-button {
    font-size: 16px;
    margin-left: 10px;
    line-height: 2;
    width: 150px;
    border-radius: 10px;
    background-color: #006d77;
    border: none;
}

.search-button:hover {
    background-color: #83c5be;
    color:white;
}

.hint {
    font-size: 13px;
    opacity:0.5;
    margin-top: 5px;
    font-family: "Lobster Two", sans-serif;
}

.business-advice {
    background-color:#edf6f9;
    padding: 15px;
    margin-top: 15px;
    border-left: 5px solid #006d77 ;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 5px;
}

.business-advice h3 {
    margin-top: 0;
}

.hidden {
    display: none;
}

.loader {
  width: 60px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side,#006d77 90%,#0000);
  background:
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 50%;
  animation: l3 1s infinite linear;
  display: block;
  margin: 0 auto;

}
@keyframes l3 {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
}